@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2c2c2c;
}

nav {
  min-height:8vh;
  background-color:rgb(70, 70, 70);
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size:25px;
  font-weight: bolder;
}

.container {
  padding: 20px 0;
  width:100%;
  margin:auto;
  text-align: center;
}

.game-ui {
  padding: 20px;
  display: flex;
}

.piece-container {
  width: 180px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color:white;
  text-align: center;
}

.piece-container p {  
  font-size: 40px;
  transform: translateY(calc(20px));
}

.chess-board {
  margin: auto;
  width: 640px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.chess-board-tile {
  width:80px;
  height:80px;
  background-color: white;
  display:grid;
  place-items:center;
  font-size:40px;
}

.chess-board-tile:hover {
  opacity: 0.9;
}

#turn-indicator {
  color:rgb(214, 214, 214);
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;;
}